.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
}

.product-item:hover {
  box-shadow: 0 1rem 1.5rem !important
}

.bg-grey {
  background-color: #c0c0c0;
}

.border-1 {
  border-right: 2px solid #d3d3d3;
}

header {
  font-family: 'Alegreya', serif;
}

body {
  font-family: 'Chivo', sans-serif;
}

#type1:hover, #type2:hover, #type3:hover, #type4:hover {
  color:ghostwhite;
  background-color: #808080;
  cursor: pointer;
}